{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}
{% block body %}
<h2>Menu</h2>
<br>
<h3>Hello, {{ user.first_name }}</h3>
{% if message %}
  <div>
    {{ message}}
  </div>
{% endif %}
<h4>Pizza</h4>
<table>
  <tbody>
      <tr>
        <td>Pizza Name</td>
        <td>Category</td>
        <td>Small</td>
        <td>Large</td>
        <td>Action</td>
      </tr>
      {% for pizza in pizza %}
      <tr>
        <td><a href="{% url 'pizza' pizza.id %}">{{ pizza.pizza_name }}</a></td>
        <td>{{ pizza.category }}</td>
        <td>{{ pizza.small }}</td>
        <td>{{ pizza.large }}</td>
        <td><a href="">Add To Cart</a></td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<br>
<h4>Subs</h4>
<table>
  <tbody>
      <tr>
        <td>Pizza Name</td>
        <td>Category</td>
        <td>Small</td>
        <td>Large</td>
        <td>Action</td>
      </tr>
      {% for subs in subs %}
      <tr>
        <td><a href="{% url 'pizza' subs.id %}">{{ subs.pizza_name }}</a></td>
        <td>{{ subs.category }}</td>
        <td>{{ subs.small }}</td>
        <td>{{ subs.large }}</td>
        <td><a href="">Add To Cart</a></td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
<!-- 
  
Other Pizza category options are: Pasta, Salads. Dinner Platters
Perhaps I can use SPA methods to load different dishes into index.html

-->

<!-- #{% url 'addtocart' pizza.id %} -->
