{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}
{% block body %}
<h2>Menu</h2>
<br>
<h3>Hello, {{ user.first_name }}</h3>
{% if message %}
  <div>
    {{ message}}
  </div>
{% endif %}
<table>
  <tbody>
      <tr>
        <td>Pizza Name</td>
        <td>Category</td>
        <td>Small</td>
        <td>Large</td>
        <td>Action</td>
      </tr>
      {% for pizza in pizza %}
      <tr>
        <td><a href="{% url 'pizza' pizza.id %}">{{ pizza.pizza_name }}</a></td>
        <td>{{ pizza.category }}</td>
        <td>{{ pizza.small }}</td>
        <td>{{ pizza.large }}</td>
        <td><a href="">Add To Cart</a></td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}

<!-- #{% url 'addtocart' pizza.id %} -->
