{% extends 'orders/base.html' %}
{% load humanize %}
{{ floatvalue|floatformat:2|intcomma }}

{% block title %}
{{ pizza.pizza_name }}
{% endblock title %}
{% block body %}

<div class="container">
  <div class="products">
    <ul>
      <!-- <li><span id="order" class=".pizza-single">Item Name: </span>{{ pizza.pizza_name }}</li> -->
      <li><span>Item Name: </span>{{ pizza.pizza_name }}</li>
      {% if pizza.small > 0 %}
      <li>
        ${{ pizza.small|stringformat:"1.2f" }}
      </li>
      {% endif %}
      {% if pizza.large > 0 %}
      <li>
        ${{ pizza.large|stringformat:"1.2f" }}
      </li>
      {% endif %}
    </ul>
  </div><!-- products -->
  <h2>Toppings</h2>
  <!--<form name="form1" action="*** url 'addtocart' ***" method="GET">-->
  <form name="form1">
    {% csrf_token %}
    <input type="hidden" name="id" class="form-check-input" value="{{ pizza.id }}">
    <input type="hidden" name="name" class="form-check-input" value="{{ pizza.pizza_name }}">
    <input type="hidden" name="price" class="form-check-input" value="{{ pizza.large }}">

    {% for topping in toppings %}

    <!-- toppings -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="{{ topping.id }}" name="toppings" id="{{ topping.toppings_name }}">
      <label class="form-check-label" for="{{ topping.id }}">{{ topping.toppings_name }}</label>
    </div>

    {% endfor %}
    <br>
  </form>
  <button onclick="myFunction()">Add To Cart</button>
  <p id="result"></p>

<script>

// Cache necesarry DOM Elements
var productsEl = document.querySelector(".products"),
    cartEl =     document.querySelector(".shopping-cart-list"),
    productQuantityEl = document.querySelector(".product-quantity"),
    emptyCartEl = document.querySelector(".empty-cart-btn"),
    cartCheckoutEl = document.querySelector(".cart-checkout"),
    totalPriceEl = document.querySelector(".total-price");
}

// Like one before and I have also used ES6 template strings
var generateCartList = function() {
  
  cartEl.innerHTML = "";
  
  //productsInCart.forEach(function(item) {
    var li = document.createElement("li");
    li.innerHTML = "product";
    //`${item.quantity} ${item.product.name} - $${item.product.price * item.quantity}`;
    cartEl.appendChild(li);
  };
  
  // productQuantityEl.innerHTML = productsInCart.length;
  
  // generateCartButtons()

function myFunction() {
    var x = document.forms[0];
    var txt = "";
    var i;
    for (i = 0; i < x.length; i++) {
          if (x[i].checked) {
            txt = txt + x.elements[i].value + "<br>";
          }
    }
    document.getElementById("result").innerHTML = txt;
    
}
</script>

  <div class="shopping-cart"><!-- shopping cart -->
    <div class="shopping-cart-head">
      <span class="product-quantity">0</span> Product(s) in Cart
    </div>
    <ul class="shopping-cart-list">
    </ul>
    <div class="cart-buttons">
      <a href="#0" class="button empty-cart-btn">Empty</a>
      <a href="#0" class="button cart-checkout">Checkout - <span class="total-price">$0</span></a>
    </div>
  </div>
</div><!-- container -->
<br>
<a href="{% url 'index' %}">Back to all menu</a>
{% endblock body %}